.footer {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: var(--secondary-color);

    & .footer-logo {
        & img {
            width: 300px;
            object-fit: contain;
            object-position: center left;
        }
    }

    & .widget-list {
        & li {
            @include basic-style(16px, 26px, 400, var(--white-color));
            margin-bottom: 10px;

            & a {
                @include basic-style(16px, 26px, 400, var(--white-color));
                transition: all 0.3s ease-in-out;
                text-decoration: none !important;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }

    & h6 {
        @include basic-style(18px, 28px, 600, var(--grey-color));
        opacity: 0.6;
    }

    & .footer-copyright {
        & span {
            display: inline-block;
            @include basic-style(16px, 26px, 300, var(--white-color));

            & a {
                @include basic-style(16px, 26px, 300, var(--white-color));
                transition: all 0.3s ease-in-out;
                text-decoration: none !important;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }

        & .social-icon {
            & li {
                margin: 8px;
                display: inline-block;

                & a {
                    background: transparent;
                    border: 1px solid var(--white-color);
                    display: block;
                    text-align: center;
                    height: 48px;
                    width: 48px;
                    border-radius: 50%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include basic-style(18px, 40px, null, var(--white-color));
                    transition: all 0.3s ease-in-out;
                    text-decoration: none !important;

                    &:hover {
                        background: var(--primary-color);
                        border: 1px solid var(--primary-color);
                    }
                }
            }
        }
    }
}