:root {
    // Colors
    --primary-color: #97cf00;
    --secondary-color: #191919;
    --white-color: #ffffff;
    --background-color: #f8f9fa;
    --text-color: #191919;
    --grey-color: #f6f6f6;
    --link-color: var(--primary-color);
    // Font
    --font-family: 'Poppins', sans-serif;
}

@import "mixins";
@import "font";