.blogSection {
    background-color: var(--grey-color);
    padding: 100px 0;
    position: relative;

    & .heading {
        text-align: center;

        & span {
            @include basic-style(16px, 24px, 600, var(--white-color));
            position: relative;
            text-transform: uppercase;
            margin: 0 0 10px;
            display: inline-block;
            background: var(--primary-color);
            padding: 5px 15px;
            border-radius: 10px;
        }

        & h2 {
            @include basic-style(40px, 1.5, 500, var(--text-color));
            z-index: 9;
            padding: 0;
            margin: 0 auto;
            position: relative;
            display: block;
            max-width: 600px;

            @include max-media(767px) {
                @include basic-style(40px, null, 500, var(--text-color));
                max-width: 100%;
            }
    
            @include max-media(400px) {
                @include basic-style(30px, null, 500, var(--text-color));
            }
        }
    }

    & .card {
        background-color: var(--white-color);
        border-radius: 7px;
        padding: 20px;
        transition: all 0.3s ease-in-out;
        margin-top: 40px;
        position: relative;

        & img.blog_img {
            border-radius: 7px;
            height: 210px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        & .content {
            padding: 10px;

            & h6 {
                @include basic-style(20px, 30px, 600, var(--text-color));
                margin-top: 10px;
            }

            & .link-share {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .button {
                    & a {
                        background: var(--primary-color);
                        transition: all 0.5s ease;
                        padding: 0;
                        width: 50px;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100px;
    
                        & img {
                            width: 20px;
                            filter: brightness(0) invert(1);
                        }
    
                        &:hover {
                            background-color: transparent;
                            border: 1px solid var(--primary-color);
    
                            & img {
                                filter: brightness(1) invert(0);
                            }
                        }
                    }
                }

                .share {
                    margin-left: 20px;
                    @include basic-style(20px, 30px, null, var(--text-color));
                    opacity: 0.7;

                    &:hover {
                        color: var(--primary-color);
                        opacity: 1;
                    }
                }
            }
        }
    }
}